<!DOCTYPE html>
<html class="DOCUMENT" lang="cs">
    <head>
        <meta charset="utf-8">
        <title>Frontend Test</title>
        <link rel="stylesheet" href="css/public.css">
    </head>
    <body>

        {% include '_logo.html.twig' %}
        {% include '_categories.html.twig' %}

        {% block content %}{% endblock %}

        {% include '_copyright.html.twig' %}

    </body>
</html>
